bin
Bin
obj
sql
*.user
*.suo
_ReSharper*
dist
output
build
*.dbmdl
*.nupkg

*~

*.swp
TestResult.xml


*.dropbox
desktop.ini
*.publish.xml
*.refactorlog

apis
info

web_appSettings.config
web_connectionStrings.config
web_smtp.config

*.mdf
*.ldf